<div class="centered">
  <div>
    <h1>Services We Offer
    </h1>
  </div>
</div>

<div class="col-md-10 col-md-offset-1 col-xs-12">
<table class="food-table black table table-hover">
  <thead>
    <tr>
      <th class="tab"></th>
      <th></th>
      <th></th>

    </tr>
  </thead>

  <tbody>
      <tr>
        <td>thorough inspection of entire car</td>
        <td>replace both idler bearings</td>
      </tr>
      <tr>
        <td>change oil and install new filter</td>
        <td>change oil and filter</td>
      </tr>
      <tr>
        <td>change transaxle gear fluid</td>
        <td>change gear oil (incl. cleaning screen)</td>
      </tr>
      <tr>
        <td>check fuel injection system</td>
        <td>change air filters</td>
      </tr>
      <tr>
        <td>replace fuel filters</td>
        <td>inspect brakes</td>
      </tr>
      <tr>
        <td>bleed brake lines</td>
        <td>change brake fluid</td>
      </tr>

  </tbody>
</table>
</div>
