<div class="centered">
  <h3>How We Can Help</h3>
</div>

<div class="squares">
  <div class="square">
    <div class="one">
    </div>
    <p>    Repair</p>
  </div>
  <div class="square">
    <div class="two">
    </div>
    <p>Tuning</p>
  </div>
  <div class="square">
    <div class="three">
    </div>
    <p>Maintenance</p>
  </div>
</div>

<div class="centerAlign">
    Foreign Sport Technician has been servicing, repairing, and restoring Ferrari, Lamborghini, Maserati, Mercedes, BMWs, Porsche and other exotic foreign racing cars since 1970. Recognized throughout West Los Angeles as a reputable professional mechanic, Foreign Sport Technician cares about your exotic vehicle as much as you do.

    From oil change and regularly schedule maintenance to complete engine rebuilds and mechanical restoration, Foreign Sport Technician has the specialized tools and equipment to care for your exotic vehicle.

    Foreign Sport Technician will enhance the performance of your exotic vehicle, offering performance tuning, upgraded brakes, and racing suspensions.
</div>

<a class="btn btn-warning" href="/users" "users">Back</a>

<div class="footer">
  <h3>add footer here</h3>
</div>
