<div class="head">
  <div class="phone">
    <h3 class="phoneNumber">(310)394-0369</h3>
  </div>
  <div class="address">
    <h3>1301 Broadway Santa Monica, CA. 90404</h3>
  </div>
  <div class="hours">
    <h3 class="days">Mon-Fri</h3><h3 class="time">8AM-5PM</h3>
  </div>
</div>
<div class="navigation">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
  </ul>
</div>
<!-- <h1>Users is current landing page</h1>
<p>Find me in app/views/users/index.html.erb</p> -->

<div class="centered">
  <h3>How We Can Help</h3>
</div>

<div class="squares">
  <div class="square">
    <div class="one">
    </div>
    <p>Repair</p>
  </div>
  <div class="square">
    <div class="two">
    </div>
    <p>Tuning</p>
  </div>
  <div class="square">
    <div class="three">
    </div>
    <p>Maintenance</p>
  </div>
</div>
<a class="btn btn-warning" href="/users" "users">Back</a>

<div class="footer">
  <h3>add footer here</h3>
</div>
