// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//css reset fixed my blue div not touching sides
html, body {
  margin:0;
  padding:0;
}
h1 {
margin: 0;
}
h2 {
margin: 0 0 40px 0;
}
.head {
  padding: 0;
  height: 50px;
  width: 100%;
  background-color: black;
  position: relative;
  z-index: 2;
}

.phone {
  color: white;
  margin-left: 300px;
  position: absolute;
}
.address {
  color: grey;
  margin-left: 450px;
  position: absolute;
}
.days {
  color: grey;
  margin-left: 900px;
  position: absolute;
}
.time {
  color: white;
  margin-left: 1000px;
  position: absolute;
}

// fix the nav div, postion is stacked, not relative
.nav {
  height: 70px;
  width: 100%;
  background-color: white;
  // position: relative;
}

.centered {
  margin-top: 340px;
  text-align: center;
}

.squares {
  text-align: center;
}
.square {
  display: inline-block;
}
.one {
  height: 200px;
  width: 400px;
  // min-height: 10%;
  // width: auto;
  background-image: url(image-path('repair.jpg'));
}
.two {
  height: 200px;
  width: 400px;
  background-image: url(image-path('tuning.jpg'));
}
.three {
  height: 200px;
  width: 400px;
  background-image: url(image-path('maintenance.png'));
}
div:after {
    content: ' ';
    display: inline-block;
    width: 100%;
}

