// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.head {
  height: 50px;
  width: 100%;
  background-color: blue;
  position: relative;
}

.phone {
  color: white;
  margin-left: 300px;
  position: absolute;
}

.address {
  color: grey;
  margin-left: 500px;
  position: absolute;
}
