<!DOCTYPE html>
<html>
<head>
  <title> Foreign Sport</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="./images/banner001.jpg" rel="icon" type="image/x-icon" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body id="all">

  <div class="head">
  <div class="phone">
    <h3 class="phoneNumber">(310)394-0369</h3>
  </div>
  <div class="address">
    <h3>1301 Broadway Santa Monica, CA. 90404</h3>
  </div>
  <div class="hours">
    <h3 class="days">Mon-Fri</h3><h3 class="time">8AM-5PM</h3>
  </div>
</div>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">About Us</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Services</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul>

<%= yield %>

</body>
</html>
